body {
    background-color: #020617;
    color: white;
}

a {
    display: inline-block;
    background-color: #38bdf8;
    color: black;
    padding: 10px 15px;
    text-decoration: none;
    margin-top: 10px;
    border-radius: 5px;
    margin-right: 10px;
}

a:hover{
    background-color: #0ea5e9;
}

img {
    width: 100%;
    margin-top: 10px;
}
h1 {
    font-size: 36px;
    color: #38bdf8;
}

h2 {
    margin-top: 40px;
}

p {
    color: #cbd5f5;
    line-height: 1.5;
}

.container {
    max-width: 900px;
    margin: auto;
    padding: 20px;
}

.topo {
    margin-bottom: 50px;
}

.sobre {
    margin-top: 40px;
    padding: 20px;
    background-color: #0f172a;
    border-radius: 10px;
    border: 1px solid #1e293b;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

@media (max-width: 768px){
    .grid {
        grid-template-columns: 1fr;
    }
}

.card {
    background-color: #0f172a;
    padding: 20px;
    border-radius: 10px;
    margin-top: 25px;
    border: 1px solid #1e293b;
}

.card h3 {
    color: #38bdf8;
}

.card img {
    background-color: #020617;
    width: 100%;
    border-radius: 8px;
    margin-top: 10px;
    padding: 10px;
    box-sizing: border-box;
}

.card ul {
    margin-top: 10px;
}

.contato {
    margin-top: 50px;
    padding: 20px;
    background-color: #0f172a;
    border-radius: 10px;
    border: 1px solid #1e293b;
    text-align: center;
}

.contato a {
    margin: 10px;
    transition: 0.2s;
}

.contato a:hover {
    transform: translateY(-2px);
}

.btn-whatsapp{
    display: inline-block;
    margin-top: 15px;
    padding: 12px 20px;
    background-color: #25d366;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    font-weight: bold;
}

.btn-whatsapp:hover{
    background-color: #1ebe5d;
}

.email-btn {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #38bdf8;
    color: black;
    text-decoration: none;
    border-radius: 5px;
}

.github-link {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 15px;
    background-color: #1e293b;
    color: #38bdf8;
    text-decoration: none;
    border-radius: 5px;
}

.github-link:hover {
    background-color: #334155;
}